
exercises/private*.*
noteBook/private*.*
exercises/secret*.*
noteBook/secret*.*
exercises/hide*.*
noteBook/hide*.*
exercises/hidden*.*
noteBook/hidden*.*
exercises/!main.*
noteBook/!main.*

build/
.vscode
output/
run
run.*
a.out